html {
    scroll-behavior: smooth;
}

/*Whole Page Styling*/
body {
    margin: 2px;
    padding: 5px;

    background-color: #F4F0E6;
    color: #222222;
}

/* Header */
body>header {
    background-color: #14213D;
    color: #FFFDF7;

    text-align: center;

    border-radius: 5px;
     border: 2px solid #c9a227;

    padding: 15px;

    margin: 5px;
}

body>header p {
    color: #c9a227
}


/* Main */
main {
    display: grid;

    grid-template-columns: 1fr 5fr;

    gap: 5px;

}

/* Navigation */
nav {
    background-color: #FFFDF7;

    border: 2px solid #c9a227;

    border-radius: 5px;

    padding: 10px;

    margin: 5px;

    display: flex;

    flex-direction: column;

    gap: 10px;

    align-self: start;



}

nav h2 {

    color: #14213d;

    text-align: center;

    margin: 5px 0 10px 0;
}

nav a {

    display: block;

    font-style: italic;

    background-color: #14213d;
    color: #FFFDF7;

    text-align: center;

    padding: 10px;
    border-radius: 5px;

    font-weight: bold;
}


/* Special Look When Mouse Above */
nav a:hover {
    background-color: #c9a227;
    color: #0b1628;
    transform: translateY(-2px);
}


/* Hero */
#hero {
    background-color: #14213D;
    color: #fffdf7;

    display: grid;

    grid-template-columns: 1fr 1fr;

    grid-template-rows: 1fr 3fr;

    gap: 5px;

    padding: 5px;

    border: 2px solid #c9a227;
    border-radius: 5px;

    margin: 5px;
}

#hero header {
    grid-column: 1/3;

   background-color: #14213D;
    color: #FFFDF7;
}

#hero article {
    background-color: #FFFDF7;
    color: #222222;

    border-radius: 5px;

    padding: 10px;
}

#heroimage {
    background-color: lightgrey;

    border-radius: 5px;

    padding: 0px;
}

#heroimage img {
    width: 100%;

    height: 100%;

    object-fit: cover;

    border-radius: 5px;
}

/* Events */

#events {

    margin: 5px;

    background-color: #F4F0E6;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    grid-template-rows: auto auto auto;

    gap: 5px;

    padding: 5px;

    border-radius: 5px;
    border: 2px solid #c9a227;
}

/* Events Header */

#events header {
    grid-column: 1/4;

    background-color: #14213D;
    color: #FFFDF7;

    text-align: center;

    border-radius: 5px;
}

/* Event Cards */

.event-card {
    background-color: #FFFDF7;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    gap: 10px;

    border: 2px solid #D8D0BE;
    border-radius: 10px;

    padding: 10px;
}

/* Event Card Info*/

.event-info {
    padding: 5px;

}

/* Event Card Images */

.event-card img {
    width: 100%;
    height: 150px;

    object-fit: cover;

    border-radius: 5px;
}

.event-card h3{
    color: #14213D
}

.event-card p{
    color: #444444;
}