html {
    scroll-behavior: smooth;
}

/*Whole Page Styling*/
body{
    margin: 2px;
    padding: 5px;

    background-color: #CBB88A;

    display: grid;

    grid-template-rows: 2fr 10fr 2fr;
}

/* Header */
header{
    background-color: rgb(109, 68, 14);

    text-align: center;

    border-radius: 5px;
}
/* Main */
main{
    display: grid;

    grid-template-columns: 1fr 5fr;

    gap: 5px;

}

/* Navigation */
nav{
    background-color: grey;

    display: grid;

    grid-template-columns: 1fr;

    grid-template-rows: repeat(4, 1fr);

    border-radius: 5px;

    padding: 10px;
}

nav a{
    font-style: italic;

    color: navy;

    padding: 10px;
}

/* Hero */
#hero{
    background-color: navy;

    display: grid;

    grid-template-columns: 1fr 1fr;

    grid-template-rows: 1fr 3fr;

    gap: 5px;

    padding: 5px;

    border-radius: 5px;
}

#hero header{
    grid-column: 1/3;

    background-color: red;
}

#hero article{
    background-color: white;

    border-radius: 5px;

    padding: 10px;
}

#heroimage{
    background-color: lightgrey;

    border-radius: 5px;

    padding: 0px;
}

#heroimage img{
    width: 100%;

    height: 100%;
    
    object-fit: cover;

    border-radius: 5px;
}

/* Events */

#events{
    background-color: lightgrey;

    display:grid;

    grid-template-columns: repeat(3,1fr);

    grid-template-rows: repeat(3,1fr);

    gap: 5px;

    padding: 5px;

    border-radius: 5px;
}

/* Events Header */

#events header{
    grid-column: 1/4;

    background-color: white;
}

/* Event Cards */

.event-card{
    background-color: antiquewhite;

    border-radius: 10px;

    padding: 10px;
}

/* Event Card Images */

.event-card img{
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 10px;
}